section.section-outer.section-header
    .section-inner
        .section-header-menu
            .section-header-logo
                .section-header-logo__icon
                .section-header-logo__text='Giant'
            .section-header-nav
                .section-header-nav__btn-home
                    a='Home'
                .section-header-nav__btn-features
                    a='Features'
                .section-header-nav__btn-pricing
                    a='Pricing'
                .section-header-nav__btn-download
                    a='Download Now'
        .section-header-content
            .section-header-wrapper
                .section-header-wrapper__title='A Powerful & Unique App Landing Template'
                .section-header-wrapper__subtitle='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
                .section-header-wrapper__list
                    ul
                        li='Unlimited colors: banner with images, slider or video'
                        i(class="fa fa-check-circle")
                        li='Fully Responsive and powered by HTML5 and CSS3'
                        i(class="fa fa-check-circle")
                        li='Very easy to customize : set up in minutes'
                        i(class="fa fa-check-circle")
                .section-header-wrapper__btn
                    a='Start Exploring Us'

