html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title lg-giant
    body
        //- Header
        section.section-outer.section-header
            .section-inner='section-header'
        //- /Header

        //- features
        section.section-outer.section-features
            .section-inner='section-features'
        //- /features

        //- reasons
        section.section-outer.section-reasons
            .section-inner='section-reasons'
        //- /reasons

        //- screenshots
        section.section-outer.section-screenshots
            .section-inner='section-screenshots'
        //- /screenshots

        //- pricing
        section.section-outer.section-pricing
            .section-inner='section-pricing'
        //- /pricing

        //- video
        section.section-outer.section-video
            .section-inner='section-video'
        //- /video

        //- reviews
        section.section-outer.section-reviews
            .section-inner='section-reviews'
        //- /reviews

        //- download
        section.section-outer.section-download
            .section-inner='section-download'
        //- /download

        //- footer
        section.section-outer.section-footer
            .section-inner='section-footer'
        //- /footer